In [1]:
import pandas as pd

In [3]:
data=pd.read_csv('./day7_TestData.txt')
data

   Class  Score
0      p  0.900
1      p  0.800
2      n  0.700
3      p  0.600
4      p  0.550
5      p  0.540
6      n  0.530
7      n  0.520
8      p  0.510
9      n  0.505
10     p  0.400
11     n  0.390
12     p  0.380
13     n  0.370
14     n  0.360
15     n  0.350
16     p  0.340
17     n  0.330
18     p  0.300
19     n  0.100