# 读写CSV文件

In [2]:
import pandas as pd
# 1.读取csv文件
# data = pd.read_csv('./data/stock_day.csv')
data = pd.read_csv('./data/stock_day.csv', usecols=['open', 'high', 'low', 'p_change'])
data.head()

             open   high    low  p_change
2018-02-27  23.53  25.88  23.53      2.68
2018-02-26  22.80  23.78  22.80      3.02
2018-02-23  22.88  23.37  22.71      2.42
2018-02-22  22.25  22.76  22.02      1.64
2018-02-14  21.49  21.99  21.48      2.05

In [11]:
# 2. 写入csv文件
data.to_csv('./data/test.csv', columns=['open', 'low'], index=False, header=True)

pd.read_csv('./data/test.csv').head()

    open    low
0  23.53  23.53
1  22.80  22.80
2  22.88  22.71
3  22.25  22.02
4  21.49  21.48

# 读写hdf5文件

In [12]:
# 读取hdf5文件
stock = pd.read_hdf('./data/stock_data/day/day_amt.h5')

In [14]:
stock.head()

,000001.SZ,000002.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,000011.SZ,...,001965.SZ,603283.SH,002920.SZ,002921.SZ,300684.SZ,002922.SZ,300735.SZ,603329.SH,603655.SH,603080.SH
0,873682680.5,1.499550e+09,8184291.4,67856706.5,80904333.7,10796398.1,7549259.6,83556483.3,0.0,22094601.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,893096125.8,1.213004e+09,7126929.9,113794008.9,163747137.5,14933524.9,6960035.1,107054520.3,0.0,29170887.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,779058424.9,2.662410e+09,12106022.3,124943962.5,239805487.8,22192182.7,6483191.7,161811235.1,0.0,19574084.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,801280766.5,2.697356e+09,9343341.2,90583731.9,304435666.6,22831527.2,6015798.5,120229202.9,0.0,20324858.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,802892923.5,1.250426e+09,7507180.5,73018472.3,204187869.4,24861309.6,8446601.2,83155047.8,0.0,17232615.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
# 写入hdf5文件
stock.to_hdf('./data/text.h5', key='amt')
# stock.to_hdf('./data/text.h5', key='x',  mode='a')

In [31]:
pd.read_hdf('./data/text.h5', key='amt').head()

,000001.SZ,000002.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,000011.SZ,...,001965.SZ,603283.SH,002920.SZ,002921.SZ,300684.SZ,002922.SZ,300735.SZ,603329.SH,603655.SH,603080.SH
0,873682680.5,1.499550e+09,8184291.4,67856706.5,80904333.7,10796398.1,7549259.6,83556483.3,0.0,22094601.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,893096125.8,1.213004e+09,7126929.9,113794008.9,163747137.5,14933524.9,6960035.1,107054520.3,0.0,29170887.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,779058424.9,2.662410e+09,12106022.3,124943962.5,239805487.8,22192182.7,6483191.7,161811235.1,0.0,19574084.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,801280766.5,2.697356e+09,9343341.2,90583731.9,304435666.6,22831527.2,6015798.5,120229202.9,0.0,20324858.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,802892923.5,1.250426e+09,7507180.5,73018472.3,204187869.4,24861309.6,8446601.2,83155047.8,0.0,17232615.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 读写json格式数据

In [34]:
data = pd.read_json('./data/Sarcasm_Headlines_Dataset.json', orient='records', lines=True)

In [37]:
data.head()

,article_link,headline,is_sarcastic
0,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0
1,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0
2,https://local.theonion.com/mom-starting-to-fea...,mom starting to fear son's web series closest ...,1
3,https://politics.theonion.com/boehner-just-wan...,"boehner just wants wife to listen, not come up...",1
4,https://www.huffingtonpost.com/entry/jk-rowlin...,j.k. rowling wishes snape happy birthday in th...,0

In [40]:
# 写入json格式数据
data.to_json('./data/test.json', orient='records', lines=True)

In [41]:
pd.read_json('./data/test.json', orient='records', lines=True)

,article_link,headline,is_sarcastic
0,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0
1,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0
2,https://local.theonion.com/mom-starting-to-fea...,mom starting to fear son's web series closest ...,1
3,https://politics.theonion.com/boehner-just-wan...,"boehner just wants wife to listen, not come up...",1
4,https://www.huffingtonpost.com/entry/jk-rowlin...,j.k. rowling wishes snape happy birthday in th...,0
5,https://www.huffingtonpost.com/entry/advancing...,advancing the world's women,0
6,https://www.huffingtonpost.com/entry/how-meat-...,the fascinating case for eating lab-grown meat,0
7,https://www.huffingtonpost.com/entry/boxed-col...,"this ceo will send your kids to school, if you...",0
8,https://politics.theonion.com/top-snake-handle...,top snake handler leaves sinking huckabee camp...,1
9,https://www.huffingtonpost.com/entry/fridays-m...,friday's morning email: inside trump's presser...,0
10,https://www.huffingtonpost.com/entry/airline-p...,airline passengers tackle man who rushes cockp...,0
11,https://www.huffingtonpost.com/entry/facebook-...,facebook reportedly working on healthcare feat...,0
12,https://www.huffingtonpost.comhttp://www.thegu...,north korea praises trump and urges us voters ...,0
13,https://www.huffingtonpost.com/entry/jeffrey-l...,"actually, cnn's jeffrey lord has been 'indefen...",0
14,https://www.huffingtonpost.com/entry/barcelona...,barcelona holds huge protest in support of ref...,0
15,https://entertainment.theonion.com/nuclear-bom...,nuclear bomb detonates during rehearsal for 's...,1
16,https://www.theonion.com/cosby-lawyer-asks-why...,cosby lawyer asks why accusers didn't come for...,1
17,https://www.theonion.com/stock-analysts-confus...,"stock analysts confused, frightened by boar ma...",1
18,https://www.huffingtonpost.com/entry/bloomberg...,bloomberg's program to build better cities jus...,0
19,https://www.huffingtonpost.com/entry/craig-hic...,craig hicks indicted,0
20,https://local.theonion.com/courtroom-sketch-ar...,courtroom sketch artist has clear manga influe...,1
21,https://politics.theonion.com/trump-assures-na...,trump assures nation that decision for syrian ...,1
22,https://www.huffingtonpost.com/entry/qatar-dut...,qatar deporting dutch woman who reported she w...,0
23,https://www.huffingtonpost.comhttp://pubx.co/d...,this is why you shouldn't go to the circus,0
24,https://www.huffingtonpost.com/entry/ted-cruz-...,ted cruz hits the panic button: 'we could lose...,0
25,https://www.huffingtonpost.com/entry/why-write...,why writers must plan to be surprised,0
26,https://www.huffingtonpost.com/entry/obama-vet...,obama visits arlington national cemetery to ho...,0
27,https://local.theonion.com/ex-con-back-behind-...,ex-con back behind bar,1
28,https://www.theonion.com/after-careful-conside...,"after careful consideration, bush recommends o...",1
29,https://www.huffingtonpost.com/entry/remembran...,remembrance is the beginning of the task,0
...,...,...,...
26679,https://www.huffingtonpost.com/entry/un-syria-...,"un/opcw report blames syria government, islami...",0
26680,https://www.theonion.com/kim-jong-un-s-absence...,kim jong-un's absence leaves north korean gove...,1
26681,https://www.huffingtonpost.comhttp://pubx.co/M...,dog born with odds stacked against her found j...,0
26682,https://www.huffingtonpost.com/entry/american-...,"american dream week a smashing, mostly uninves...",0
26683,https://www.theonion.com/complete-idiot-forgot...,complete idiot forgot to shave area between mo...,1
26684,https://politics.theonion.com/retreating-clint...,retreating clinton campaign torches iowa town ...,1
26685,https://local.theonion.com/dont-nobody-wanna-h...,don't nobody wanna hear area man run his mouth,1
26686,https://www.theonion.com/48-syrian-civilians-m...,48 syrian civilians massacred during claire da...,1
26687,https://www.huffingtonpost.com/entry/readin-re...,readin' researchin' writin' and the tools to m...,0
26688,https://local.theonion.com/report-uttering-phr...,report: uttering phrase 'easy does it' prevent...,1
26689,https://www.huffingtonpost.com/entry/ted-cruz-...,ted cruz blasts new york times for keeping boo...,0
26690,https://www.huffingtonpost.com/entry/myanmar-e...,voting underway in myanmar's first free electi...,0
26691,https://local.theonion.com/ice-cube-thrown-int...,ice cube thrown into sink flies up side like s...,1
26692,https://www.huffingtonpost.com/entry/video-int...,fisherman's worst nightmare comes true,0
26693,https://www.theonion.com/new-bailiff-tired-of-...,new bailiff tired of hearing how old bailiff d...,1
26694,https://www.theonion.com/breaking-the-onion-in...,breaking: 'the onion' in kill range of boston ...,1
26695,https://www.theonion.com/seaworld-crowd-applau...,seaworld crowd applauds for dolphin playfully ...,1
26696,https://www.huffingtonpost.com/entry/zimbabwe-...,zimbabwe's youth defy blackout to organize pro...,0
26697,https://www.huffingtonpost.com/entry/emma-gonz...,emma gonzalez: 'one of the biggest threats' to...,0
26698,https://www.huffingtonpost.com/entry/hackers-b...,hackers breached u.s. election agency after vo...,0
26699,https://www.huffingtonpost.com/entry/leather-l...,"what you should buy your 'basic' friend, accor...",0
26700,https://www.huffingtonpost.com/entry/whats-in-...,what's in your mailbox? tips on what to do whe...,0
26701,https://www.huffingtonpost.com/entry/paul-ryan...,paul ryan is more of a con man than ever,0
26702,https://politics.theonion.com/pentagon-to-with...,pentagon to withhold budget figures out of res...,1
26703,https://www.theonion.com/pope-francis-wearing-...,pope francis wearing sweater vestments he got ...,1
26704,https://www.huffingtonpost.com/entry/american-...,american politics in moral free-fall,0
26705,https://www.huffingtonpost.com/entry/americas-...,america's best 20 hikes,0
26706,https://www.huffingtonpost.com/entry/reparatio...,reparations and obama,0
26707,https://www.huffingtonpost.com/entry/israeli-b...,israeli ban targeting boycott supporters raise...,0
26708,https://www.huffingtonpost.com/entry/gourmet-g...,gourmet gifts for the foodie 2014,0

# 缺失值的处理

## 1. 判断缺失值

In [42]:
# 读取电影数据
movies = pd.read_csv('./data/IMDB-Movie-Data.csv')

In [44]:
movies.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [51]:
import numpy as np
# 判断缺失值
# 如果字段为缺失就是True, 否则为False
movies.isnull()

# 判断文件是否有缺失值
np.any(movies.isnull())
# 这个值为True, 就说明文件中有缺失值

# 如果字段不是缺失为True 是缺失值为False 
# movies.notnull()
# 判断文件是否有缺失值
np.all(movies.notnull())
# 如果这个值为False, 就表示文件中有缺失值.

False

## 处理缺失值

In [59]:
## 1. 删除
# new_movie = movies.dropna()
# 删除缺失值, 默认按行删除; 只要这一行有缺失就删除
# 按列删除缺失值, 只要这一列有缺失值就删除. 
new_movie = movies.dropna(axis=1)
# new_movie
np.any(new_movie.isnull())
# movies

False

In [64]:
## 2. 填充缺失值
# 使用均值填充缺失值; 默认返回填充的数据
# 如果inplace=True, 会修改原来的数据
# movies['Revenue (Millions)'].fillna(value=movies['Revenue (Millions)'].mean(), inplace=True)
# movies

# 填充整个数据的缺失值
for name in movies.columns:
    # print(name)
    # 如果这一列有缺失值, 就使用均值填充
    if np.any(movies[name].isnull()):
        movies.fillna(value=movies[name].mean(), inplace=True)

np.any(movies.isnull())

False